# Conhecendo os Datasets

Criaremos um  sistemas de recomendação de filmes

In [1]:
import pandas as pd

In [2]:
uri = 'https://raw.githubusercontent.com/alura-cursos/machine-learning-algoritmos-nao-supervisionados/master/movies.csv'
filmes = pd.read_csv(uri)

filmes.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
filmes.columns = ['filme_id', 'titulo', 'generos']

filmes.head()

,filme_id,titulo,generos
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Vemos que os gêneros não possuem uma divisão, então devemo criar uma "Dimensão" com eles mais separados, sendo assim dividos em subgeneros.<br>
<code>.srt.get_dummies()</code> realiza essa divisão automaticamente

In [7]:
generos = filmes.generos.str.get_dummies()

Concatenando os dataframes <code>.concat([DF PARA CONCATENAR], axis= EIXO PRA CONCATENAR)</code>

In [10]:
dados_filmes = pd.concat([filmes, generos], axis = 1)
dados_filmes.head()

,filme_id,titulo,generos,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

Nossa análise atualmente está sem peso, precisamos escalar os dados, ex: ser animação influência mais que ser comédia e etc<br>
Para escalar utilizamos o Scale do SkLearn e podemos treina-lo com o fit_scale <code>.fit_transform(OBJETO ESCALADO)</code><br>
<code>.shape</code>

In [12]:
from sklearn.preprocessing import StandardScaler

In [16]:
scaler = StandardScaler()
generos_escalados = scaler.fit_transform(generos)
generos_escalados.shape

(9742, 20)